/* GLOBAL =========--------======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style-type: none;
}

body,
html {
  height: 100vh;
  width: 100vw;

  font-family: "Montserrat", sans-serif;
}

/* HEADER =========--------======== */
header {
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}

nav {
  display: inline-flex;
  align-items: center;
  gap: 3.75rem;
}

nav a {
  font-size: 1.12rem;
  font-weight: 400;
}

header button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.87rem 0.2rem;
  outline: none;
  border: none;

  gap: 0.4rem;
}

header button a {
  font: 700 0.8rem "Montserrat";

  color: var(--black-text);
}

header button img {
  width: 1.5rem;
  height: 2rem;
}

/* MAIN-1 =========--------======== */
#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;

  height: 100vh;
}

#bloco-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 15.37rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 5.62rem;

  position: relative;
}

#bloco-1 #p1 {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.12rem;
  position: absolute;
  top: 0;
  left: 5rem;
}

#bloco-1 #group-avarts {
  display: block;
  position: absolute;
  bottom: 3.2rem;
  left: 5rem;
}

#bloco-1 #p2 {
  display: block;
  position: absolute;
  bottom: 3.2rem;
  left: 16rem;

  font-weight: 400;
  font-size: 1.1rem;
  color: var(--text-color);
}

#bloco-1 h1 {
  position: absolute;
  top: -0.6rem;
  left: 35rem;
  font-weight: 700;
  font-size: 2.69rem;
  color: var(--text-color);

  align-items: center;
}

#bloco-1 h1 span {
  color: var(--color-logo);
}

#badge {
  position: absolute;
  right: 5rem;
  top: 0;
  height: 195px;
}

/* GALLERY =========--------======== */

#gallery {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  margin-top: 1.6rem;
}

#gallery img {
  border: 1px solid var(--text-color);
}

/* MAIN-2 =========--------======== */

.main-2 {
  background-color: var(--body-background);
  position: relative;
  height: 41.25rem;
}

.main-2 p {
  display: inline-block;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 400;
}

.main-2 p span {
  color: var(--color-logo);
}

.main-2 a {
  text-decoration: underline;
}

.main-2 #limit-p {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  height: 22rem;
  width: 72.5rem;
}

.main-2 #banner {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-2 #arts {
  position: absolute;
  top: 0;
  left: 0;
  height: 41.25rem;
  width: 17.625rem;

  border-right: 1px solid var(--subtitle-color);
  border-bottom: 1px solid var(--subtitle-color);
}

.main-2 #arts h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 7rem;
  font-weight: 400;
  font-size: 2rem;
  color: var(--text-color);
}

/* MAIN-3 =========--------======== */
#main-3 {
  height: 67.875rem;
  
  background-color: var(--body-background);
  position: relative;

  
}

#main-3 h2{
  padding-left: 5rem;
  padding-top: 9.375rem;
    font-weight: 700;
    font-size: 3.125rem;
    color: var(--text-color);
}

#main-3 h2 span {
  color: var(--color-logo);
}

#popular {
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  gap: 5rem;

  
}

#popular-1 {
  position: absolute;
  left: 5rem;
  bottom: 4.718rem;
  display: grid;
  gap: 1.5rem;
  width: 38rem;
  border-right: 1px solid var(--subtitle-color);
}

#popular-1 h3 {
  display: flex;
  align-items: center;
  gap: 6.2rem;
  color: var(--text-color);
  font-size: 1.90rem;
}

#popular-1 p {
  display: flex;
  align-items: center;
  
  font-weight: 400;
  color: var(--text-color);
  font-size: .9rem;
}


#popular-1 p span {
  color: var(--color-logo);
  position: absolute;
  right: 16rem;
}

#popular-2 {
  display: grid;
  gap: 1.5rem;
  width: 38rem;

  position: absolute;
  right:  -7rem;
  bottom: 4.718rem;
}

#popular-2 p {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: var(--text-color);
  font-size: .9rem;
}

#popular-2 h3 {
  display: flex;
  align-items: center;
  gap: 6.2rem;
  color: var(--text-color);
  font-size: 1.90rem;
}

#popular-2 p span {
  color: var(--color-logo);
  position: absolute;
  right: 16rem;
}

/* MAIN-3 =========--------======== */